.card {
    width: 400px;
    border: 1px solid black;

    .title {
        font-size: 24px;
        color: red;
    }

    .description {
        font-size: 12px;
        color: lightgray;
    }
}

body {
    font-family: 'Poppins', sans-serif;
}